<%- include('partials/header') %>

<body>
    <center>

        <h1>Course List</h1>
        <table border="1"> 
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
            <%  for(let i = 0; i < course.length; i++){  %>
                <tr>
                    <td> <%= course[i].id %> </td>
                    <td> <%= course[i].name %> </td>
                    <td> <%= course[i].description %> </td>
                    <td> <%= course[i].duration %> </td>
                    <td>
                        <button><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Watch Course</a></button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
    </center>
</body>
</html>