<%- include('partials/headerAdmin') %>

<h1 class="d-flex justify-content-center"> Selamat datang wahai <%= username %> yang budiman!</h1>
<br>
<br>
<br>
<br>

<center>
    <h2>List Categori saat ini nih Min!</h1>
    <div class="container w-80">  
<table class="table mb-10">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <%  category.forEach(el => {  %>
            <tr>
                <td> <%= el.id %> </td>
                <td> <%= el.name %> </td>
                <td><button><a href="/categoriesAdmin/<%= el.id %>">See Detail</a></button>
                </td>
            </tr>
        <% }) %>
    </table>
</div>
</center>
</body>
</html>